html, body {}

    body .navbar {
        background-color: #003865!important;
    }

    body footer {
        position: relative;
        margin-top: -250px;
        height: 250px;
        clear:both;
        padding-top:20px;
        background-color: #F7F7F7;
    }

        body footer h2 {
            font-family: "Roboto Slab",serif;
            color: #003865;
        }

        body footer ul {}

            body footer ul li {
                color: #003865;
            }

                body footer ul li a {
                    color: #003865;
                }

/******************************************************************************
 * Bootstrap Button Override
 ******************************************************************************/

.btn-primary {
    color: #fff;
    background-color: #0075B0;  /* UofG Cobalt */
    border-color: #0075B0;      /* UofG Cobalt */
}

.btn-primary:hover {
    background-color: #005682;
    border-color: #005682;
}

.btn-success {
    color: #fff;
    background-color: #00B5D1;  /* UofG Turquoise */
    border-color: #00B5D1;      /* UofG Turquoise */
}

.btn-success:hover {
    background-color: #008da3;
    border-color: #008da3;
}
